<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.BoardMapper">

    <sql id="search">
        <if test="search.keyword != null">
            <where>
            	<foreach item="type" collection="search.types" separator="OR">
<!--                <trim prefixOverrides="OR">  -->
<!--                    <foreach item="type" collection="search.types"> -->
<!--                        <trim prefix="OR"> -->
                            <choose>
                                <when test="type == 't'.toString()">
                                    BOARD_TITLE LIKE '%' || #{search.keyWord} || '%'
                                </when>
                                <when test="type == 'w'.toString()">
                                    BOARD_WRITER LIKE '%' || #{search.keyWord} || '%'
                                </when>
                                <when test="type == 'c'.toString()">
                                    BOARD_CONTENT LIKE '%' || #{search.keyWord} || '%'
                                </when>
                            </choose>
<!--                        </trim>  -->
<!--                    </foreach>   -->
<!--                </trim>          -->
				</foreach>
			</where>
        </if>
    </sql>
    
	<select id="getBoardList" resultType="BoardVo">        
		SELECT BOARD_NO, BOARD_TITLE, BOARD_WRITER, BOARD_CONTENT, BOARD_REG_DATE, BOARD_UPDATE_DATE
	        FROM
	        (
	            SELECT ROWNUM R, BOARD_NO, BOARD_TITLE, BOARD_WRITER, BOARD_CONTENT, BOARD_REG_DATE, BOARD_UPDATE_DATE
	            FROM
	            (
	                SELECT BOARD_NO, BOARD_TITLE, BOARD_WRITER, BOARD_CONTENT, BOARD_REG_DATE, BOARD_UPDATE_DATE
	                FROM TBL_BOARD
	                <include refid="search"/>
	                ORDER BY BOARD_NO DESC
	            ) B
	            <![CDATA[WHERE ROWNUM <= #{criteria.page} * #{criteria.rowCount}]]>
	        )
	    WHERE R > (#{criteria.page} - 1) * #{criteria.rowCount}
	    
<!--	<![CDATA[
		SELECT 
				BOARD_NO, 
				BOARD_TITLE, 
				BOARD_WRITER, 
				BOARD_CONTENT, 
				BOARD_REG_DATE, 
				BOARD_UPDATE_DATE
		FROM (
			
				SELECT 
						ROWNUM  R,
						BOARD_NO, 
						BOARD_TITLE, 
						BOARD_WRITER, 
						BOARD_CONTENT, 
						BOARD_REG_DATE, 
						BOARD_UPDATE_DATE
				FROM (
						SELECT 
							BOARD_NO, 
							BOARD_TITLE, 
							BOARD_WRITER, 
							BOARD_CONTENT, 
							BOARD_REG_DATE, 
							BOARD_UPDATE_DATE
						FROM TBL_BOARD
                		<include refid="search"/>
					    ORDER BY BOARD_NO DESC
				) B
				WHERE ROWNUM <= #{criteria.page} * #{criteria.rowCount}
		)
		WHERE R > (#{criteria.page} - 1) * #{criteria.rowCount}
	
	]]>   -->
	</select>
	
	<select id="getBoardReadBoardNo" resultType="BoardDto">
	<![CDATA[
		SELECT 
				BOARD_NO, 
				BOARD_TITLE, 
				BOARD_WRITER, 
				BOARD_CONTENT, 
				BOARD_REG_DATE, 
				BOARD_UPDATE_DATE
		FROM TBL_BOARD
		WHERE   BOARD_NO = #{boardNo}
	]]>
	</select>
	
	<select id="getFileReadBoardNo" resultType="FileVO">
	<![CDATA[
		SELECT 
				FILE_NO, 
				FILE_NAME, 
				FILE_UPLOAD_PATH, 
				FILE_UUID, 
				FILE_SIZE, 
				FILE_IS_IMAGE, 
				BOARD_NO
		FROM TBL_FILE
		WHERE   BOARD_NO = ${boardNo}
	]]>
	</select>
	
	<select id="findFile" resultType="int">
		SELECT  COUNT(*)
    	FROM    TBL_FILE
    	WHERE   FILE_NAME         = #{fileName}
	  	 AND    FILE_UPLOAD_PATH  = #{fileUploadPath} 
		 AND    FILE_UUID         = #{fileUuid}
	</select>
	
	<select id="yesterFilesInDB" resultType="FileVO">	
	<![CDATA[
		SELECT 
				FILE_NO, 
				FILE_NAME, 
				FILE_UPLOAD_PATH, 
				FILE_UUID, 
				FILE_SIZE, 
				FILE_IS_IMAGE, 
				BOARD_NO
		FROM TBL_FILE
		WHERE   FILE_UPLOAD_PATH = TO_CHAR(SYSDATE - 1, 'YYYY/MMDD') /* -1 은 어제 날짜 */
	]]>
	</select>
	
	<select id="getTotal" resultType="int">
	<![CDATA[
		SELECT COUNT(*) AS total
		FROM TBL_BOARD
	]]>
		<include refid="search"/>
	</select>
	
	<insert id="postBoardWrite" useGeneratedKeys="true" keyProperty="boardNo" keyColumn="BOARD_NO"> 
	<!--키값을 Dto의 boardNo로 return 함-->
	<![CDATA[
		INSERT INTO TBL_BOARD
				(BOARD_NO, 
				 BOARD_TITLE, 
				 BOARD_WRITER, 
				 BOARD_CONTENT)
		VALUES
				(SEQ_TBL_BOARD.NEXTVAL,
				 #{boardTitle},
				 #{boardWriter},
				 #{boardContent})
	]]>
	</insert>
	
	<insert id="postFileWrite">
	<![CDATA[
		INSERT INTO TBL_FILE
			(FILE_NO, 
			 FILE_NAME, 
			 FILE_UPLOAD_PATH, 
			 FILE_UUID, 
			 FILE_SIZE, 
			 FILE_IS_IMAGE, 
			 BOARD_NO)
		VALUES
			(SEQ_TBL_FILE.NEXTVAL,
			 #{fileName},
			 #{fileUploadPath},
			 #{fileUuid},
			 #{fileSize},
			 #{fileIsImage},
			 #{boardNo})
	]]>
	</insert>
	
	<update id="postBoardModify">
	<![CDATA[
		UPDATE TBL_BOARD
			SET BOARD_TITLE       = #{boardTitle},  
				BOARD_CONTENT     = #{boardContent}, 
				BOARD_UPDATE_DATE = SYSDATE
		WHERE   BOARD_NO          = #{boardNo}
	]]>
	</update>
	
	<delete id="postFileDelete">
	<![CDATA[
		DELETE FROM TBL_FILE
		WHERE BOARD_NO = #{boardNo}
	]]>
	</delete>
	
	<delete id="postBoardRemove">
	<![CDATA[
		DELETE FROM TBL_BOARD
		WHERE BOARD_NO = #{boardNo}
	]]>
	</delete>
	
</mapper>