<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 상세보기</title>
    <link rel="stylesheet" href="/css/main.css" />
    <style>
		.uploadResult ul {
		    display: flex;
		    list-style: none;
		    flex-wrap: wrap;          /* 줄 바꿈 방지 */
		    gap: 10px;                /* 항목 간 간격 */
		}

		.uploadResult ul li {
		    position: relative;
		    width: 120px;             /* li의 너비 설정 */
		    text-align: center;       /* 텍스트를 중앙에 정렬 */
		}

		.uploadResult ul li img {
		    width: 100px;             /* 이미지 너비 설정 */
		    height: 100px;            /* 이미지 높이 설정 */
		    object-fit: cover;        /* 이미지 비율에 맞게 크기 조정 */
		}

		.uploadResult ul li p {
		    font-size: 0.7rem;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;      /* 텍스트가 한 줄로 표시되게 설정 */
		    width: 100%;              /* p의 너비 설정 */
		}
	h4 {
	    margin: 0;
	}
	.line{
	    border-bottom: 1px solid #ff8b77;
	}
	p {
	    margin: 0;
	}

	textarea {
	    resize: none;
	}
    </style>
</head>
<body class="is-preload">
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">

            <!-- Elements -->
            <header class="major">
                <h1>Board</h1>
                <p>게시글 상세보기</p>
            </header>
            <!-- Table -->
			<!-- 다른곳으로 분기했다가 돌아왔을 때, 이전 페이지, 검색조건을 유지하도록 
				(page=${criteria.page}, type=${search.type}, keyWord=${search.keyword}) 추가-->
            <h3><a class="list button small" th:href="@{/board/list(page=${criteria.page}, type=${search.type}, keyWord=${search.keyWord})}">목록 보기</a></h3>
            <div class="content">
                <di class="form" th:object="${boardDto}">
                   <form th:action="@{/board/remove(boardNo=*{boardNo})}" method="post">			  
                        <div class="fields">
                            <div class="field">
                                <h4>번호</h4>
                                <input type="text" th:field="*{boardNo}" readonly/>
                            </div>
                            <div class="field">
                                <h4>제목</h4>
                                <input type="text" th:field="*{boardTitle}" readonly/>
                            </div>
                            <div class="field">
                                <h4>내용</h4>
                                <textarea rows="6" style="resize:none" th:field="*{boardContent}" readonly></textarea>
                              </div>
                             <div class="field">
                                <h4>작성자</h4>
                                 <input type="text" th:field="*{boardWriter}" readonly/>
                             </div>
						     <div class="field">
						         <h4>첨부파일</h4>
						         <div class="uploadResult">
						             <ul>
						             </ul>
						         </div>
						     </div>
                        </div>
                        <ul class="actions special">
                            <li>
                                <input type="button" class="button" value="수정" onclick="modify()"/>
                                <input type="submit" class="button" value="삭제"/>
                            </li>
                        </ul>  
                        <ul class="icons">
                            <li style="display: block">
                                <span class="icon solid fa-envelope"></span>
                                <strong>댓글</strong>
                            </li>
                        </ul>
                        <a href="javascript:void(0)" class="register button primary small" style="width: 100%">댓글 등록</a>
                        <div style="display: none" class="register-form">
                            <div>
                                <h4>작성자</h4>
                                <input type="text" name="replyWriter" placeholder="Replier">
                            </div>
                            <div>
                                <h4>댓글</h4>
                                <textarea rows="6" name="replyContent" placeholder="Reply" style="resize: none"></textarea>
                            </div>
                            <div style="text-align: right">
                                <a href="javascript:void(0)" class="finish button primary small">등록</a>
                                <a href="javascript:void(0)" class="cancel button primary small">취소</a>
                            </div>
                        </div>
                        <ul class="replies"></ul>
                    </form>
                    <div class="paging" style="text-align: center"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script th:inline="javascript">
/*
	let boardNo = "[[${boardDto.boardNo}]]";

	function modify(){
	    location.href = "/board/modify?boardNo=" + boardNo;
	}	
*/	
let boardNo = [[${boardDto.boardNo}]];
let page = [[${criteria.page}]];
let type = [[${search.type}]];
let keyWord = [[${search.keyWord}]];
const uploadResult = document.querySelector(".uploadResult ul");
let files = /*[[${boardDto.files}]]*/ [];

showThumbNail();

function modify() {
    location.href = "/board/modify?boardNo=" + boardNo + 
                    "&page=" + page + 
                    "&type=" + type + 
                    "&keyWord=" + encodeURIComponent(keyWord);
} 

function showThumbNail(){
	
	let text = ``;	
	files.forEach((file, index) => {
		let fileName = file.fileName.replace("-", "_");console.log("state 2");		
		// URL 인코딩 추가
//		const encodedFilePath = encodeURIComponent(`${file.fileUploadPath}/${file.fileUuid}_${file.fileName}`);
		text += `<li >`
			    text += `<a href="/files/download?filePath=${file.fileUploadPath}/${file.fileUuid}_${file.fileName}">`
			    text += `    <div style="width: 100px; height: 100px">`
							
		if (file.fileIsImage) {
			// URL 인코딩 추가
			const encodedFilePath = encodeURIComponent(`${file.fileUploadPath}/t_${file.fileUuid}_${file.fileName}`);
			text += `<img src="/files/display?filePathName=${encodedFilePath}">`;
		} else {
			text += `<img src="/images/attach.png" width="100">`;
		};
		text += `</div>
		            </a>
		            <p style="font-size: 0.7rem;width: 100px;overflow: hidden;text-overflow: ellipsis;">${fileName}(${file.fileSize}KB)</p>
		        </li>`
	});
	console.log(text);// uploadResult에 동적으로 파일 항목 추가
	uploadResult.insertAdjacentHTML('beforeend', text);

};
</script>
</html>