<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="/css/main.css" />
    <style>
        .uploadResult ul {
            display: flex;
            list-style: none;
        }

        .uploadResult ul li {
            position: relative;
        }

        .uploadResult ul li span {
            display: block;
            position: absolute;
            right: 10px;
            top: -25px;
            cursor: pointer;
            font-weight: bold;
            font-size: 1.5rem;
        }
    </style>
</head>
<body class="is-preload">
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">
            <!-- Elements -->
            <header class="major">
                <h1>Board</h1>
                <p>게시글 등록</p>
            </header>
            <!-- Table -->
			<!-- 다른곳으로 분기했다가 돌아왔을 때, 이전 페이지, 검색조건을 유지하도록 
				(page=${criteria.page}, type=${search.type}, keyWord=${search.keyword}) 추가-->
            <h3><a class="list button small" th:href="@{/board/list(page=${criteria.page}, type=${search.type}, keyWord=${search.keyWord})}">목록 보기</a></h3>
            <div class="content">
                <div class="form">
<!--                    <form method="post" id="writeForm" enctype="multipart/form-data" th:object="${boardVO}">-->
                    <form th:action="@{/board/write}" method="post" id="writeForm" th:object="${boardVO}">
                        <div class="fields">
                            <div class="field">
                                <h4>제목</h4>
                                <input placeholder="Title" type="text" th:field="*{boardTitle}"/>
                            </div>
                            <div class="field">
                                <h4>내용</h4>
                                <textarea rows="6" placeholder="Content" style="resize:none" th:field="*{boardContent}"></textarea>
                            </div>
                            <div class="field">
                                <h4>작성자</h4>
                                <input placeholder="Writer" type="text" th:field="*{boardWriter}"/>
                            </div>
                            <div class="field">
                                <h4>첨부파일</h4>
                                <input type="file" name="upload" multiple>
                            </div>
                            <div class="field">
                                <div class="uploadResult">
									<ul></ul>
                                </div>
                            </div>
                        </div>

						<!-- 예외 메시지 출력 -->
						<div th:if="${errorMessage}" class="error-message">
						           <p th:text="${errorMessage}"></p>
						</div>

						
                        <ul class="actions special">
                            <li><input type="submit" class="button" value="등록" /></li>
                        </ul>
                    </form>
                </div>
				
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script>
//	FileList.prototype.forEach = Array.prototype.forEach;
	const uploadResult = document.querySelector(".uploadResult ul");
	const input = document.querySelector("input[type=file]");
	const dataTransfer = new DataTransfer();  // append된 전체 파일을 파일리스트에 세트. 파일선택옆에 총 파일 갯수를 나오게 하기 위해서

	let text = ``;
	let files  = new Array();
	input.addEventListener("change", (e) => {
		let formData = new FormData();
		tmpfiles  = Array.from(e.target.files);      // e.target.files 현재 선택된 파일 리스트만 보관
		tmpfiles.forEach((file) => {
			files.push(file);                        // 선택된 파일들을 append하기 위해서
			const dataTransfer = new DataTransfer();  // append된 전체 파일을 파일리스트에 세트. 파일선택옆에 총 파일 갯수를 나오게 하기 위해서 
			files.forEach(file => dataTransfer.items.add(file)); // 추가한 파일까지 총 파일 갯수를 "파일선택" 옆에 보여주기 위해 매번 전체 파일 옮겨주기
			input.files = dataTransfer.files;
			formData.append("multipartFiles",file);
		});
		
//        e.target.files.forEach(file => {
//            files.push(file);
//            formData.append("multipartFiles", file);
//        });

		$.ajax({
			url : "/files/upload",
			type : "post",
			data : formData,
			processData : false, // file전송시 :: FormData 객체를 문자열로 변환하지 않음
			contentType : false, // file전송시 :: Content-Type 헤더를 브라우저에서 자동 생성
			success : function(files){
				files.forEach((file, index) => {
			            text += `<li data-index=${index}>`;        // 파일 삭제 관리를 위한 index
						text += `<image src="/images/cancel.png" class="file-cancel" width="25" style="position: absolute; right: 0; cursor: pointer;">`; 
					if (file.fileIsImage) {
						// URL 인코딩 추가
						const encodedFilePath = encodeURIComponent(`${file.fileUploadPath}/t_${file.fileUuid}_${file.fileName}`);
						text += `<img src="/files/display?filePathName=${encodedFilePath}">&nbsp;&nbsp;`;
					} else {
						text += `<img src="/images/attach.png" width="100">`;
					}
					`</li>`
				})
				uploadResult.innerHTML = text;
			},	
		});
		
	});
	
	const uls = document.querySelectorAll("ul");
	uls.forEach((ul)=> { 
		ul.addEventListener("click", function(e){
			if (e.target.matches(".file-cancel")){
				const li = e.target.closest("li");
				if (li){
					const index = parseInt(li.dataset.index, 10);  // 삭제할 li의 index 가져오기
					li.remove();                              // 화면에서 삭제하기 
					if (files.length == 1){                   // 마지막 한개가 삭제가 안되서 
						files = [];
					}
					files.splice(index,1);                    // 파일 목록에서 삭제하기
					const dataTransfer = new DataTransfer();  // 최종 파일 목록을 파일리스트에 세트. 파일선택옆에 최종 파일 갯수를 나오게 하기 위해서
					files.forEach(file => dataTransfer.items.add(file)); // 삭제한 목록을 화면 "파일선택" 옆에 보여주기
					input.files = dataTransfer.files;
				}
			}
		});
	});
			
</script>

</html>