<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="/css/main.css" />
    <style>
        .uploadResult ul {
            display: flex;
            list-style: none;
        }

        .uploadResult ul li {
            position: relative;
        }

        .uploadResult ul li span {
            display: block;
            position: absolute;
            right: 10px;
            top: -25px;
            cursor: pointer;
            font-weight: bold;
            font-size: 1.5rem;
        }
    </style>
</head>
<body class="is-preload">
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">
            <!-- Elements -->
            <header class="major">
                <h1>Board</h1>
                <p>게시글 등록</p>
            </header>
            <!-- Table -->
			<!-- 다른곳으로 분기했다가 돌아왔을 때, 이전 페이지, 검색조건을 유지하도록 
				(page=${criteria.page}, type=${search.type}, keyWord=${search.keyword}) 추가-->
            <h3><a class="list button small" th:href="@{/board/list(page=${criteria.page}, type=${search.type}, keyWord=${search.keyWord})}">목록 보기</a></h3>
            <div class="content">
                <div class="form">
<!--                    <form method="post" id="writeForm" enctype="multipart/form-data" th:object="${boardVO}">-->
                    <form th:action="@{/board/write}" method="post" id="writeForm" th:object="${boardDto}">
                        <div class="fields">
                            <div class="field">
                                <h4>제목</h4>
                                <input placeholder="Title" type="text" th:field="*{boardTitle}"/>
                            </div>
                            <div class="field">
                                <h4>내용</h4>
                                <textarea rows="6" placeholder="Content" style="resize:none" th:field="*{boardContent}"></textarea>
                            </div>
                            <div class="field">
                                <h4>작성자</h4>
                                <input placeholder="Writer" type="text" th:field="*{boardWriter}"/>
                            </div>
                            <div class="field">
                                <h4>첨부파일</h4>
                                <input type="file" name="upload" multiple>
                            </div>
                            <div class="field">
                                <div class="uploadResult">
									<ul></ul>
                                </div>
                            </div>
                        </div>

						<!-- 예외 메시지 출력 -->
						<div th:if="${errorMessage}" class="error-message">
						           <p th:text="${errorMessage}"></p>
						</div>

						
                        <ul class="actions special">
                            <li><input type="button" class="button register-button" value="등록" /></li>
                        </ul>
                    </form>
                </div>
				
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script>
//	FileList.prototype.forEach = Array.prototype.forEach;
    const registerButton = document.querySelector(".register-button");
    const uploadResult = document.querySelector(".uploadResult ul");
//	const lis = document.querySelectorAll(".uploadFile");
	const form = document.querySelector("#writeForm");
	registerButton.addEventListener("click", function(){
		let text = "";
		console.log("registerButton 들어옴");
		uploadResult.querySelectorAll(".uploadFile").forEach((li, index) => {
		// DOM 요소가 동적으로 생성되는 경우, 부모 요소에 이벤트를 위임한다.
			console.log(li.dataset);
			const fileIsImage = li.dataset.fileIsImage === "true" ;    // 문자열을 boolean 값으로 변환
			text += `
			<input type="hidden" name="files[${index}].fileName"       value="${li.dataset.fileName}">
			<input type="hidden" name="files[${index}].fileUploadPath" value="${li.dataset.fileUploadPath}">
			<input type="hidden" name="files[${index}].fileUuid"       value="${li.dataset.fileUuid}">
			<input type="hidden" name="files[${index}].fileSize"       value="${li.dataset.fileSize}">
			<input type="hidden" name="files[${index}].fileIsImage"    value="${li.dataset.fileIsImage}">
					 `;
		});
		form.insertAdjacentHTML("beforeend", text)
//		form.append(text);    //form은 텍스트 형식을 받는데, text는 html 방식이라서 오류가 남
		console.log(form);
		form.submit();
    });

	const input = document.querySelector("input[type=file]");
	const dataTransfer = new DataTransfer();  // array에 들어 있는 파일목록을 input 파일리스트로 옮기기위한 객체

	let files  = new Array();
	input.addEventListener("change", (e) => {
		let text ="";                                 // 새로 들어올 때 마다 클리어
		tmpfiles  = Array.from(e.target.files);       // e.target.files는 현재 선택된 파일 리스트만 보관

		const formData = new FormData();
		const dataTransfer = new DataTransfer();  
		tmpfiles.forEach((file) => {
			files.push(file);                         // 선택된 파일들을 append하기 위해서 array로 push			
		});

		files.forEach(file => {
			dataTransfer.items.add(file);            // 화면의 파일선택 옆에 최종 갯수를 나오게 하기 위해서 
			formData.append("multipartFiles",file);  // 서버에 보낼 파일리스트
		}); 
		input.files = dataTransfer.files;            // 화면의 파일선택 옆에 최종 갯수를 나오게 하기 위해서
		console.log(tmpfiles);
		console.log(files);
		console.log(input.files);
		
//        e.target.files.forEach(file => {
//            files.push(file);
//            formData.append("multipartFiles", file);
//        });

		$.ajax({
			url : "/files/upload",
			type : "post",
			data : formData,
			processData : false, // file전송시 :: FormData 객체를 문자열로 변환하지 않음
			contentType : false, // file전송시 :: Content-Type 헤더를 브라우저에서 자동 생성
			success : function(files){
//				registerButton.disabled = true;     // 동적 생성 완료전 button 클릭 막음
				files.forEach((file, index) => {
					// 파일 삭제를 위한 index, 서버로 전달할 정보 세팅
					// file-name 가 dataset에서는 카멜표기법(fileName)으로 변경됨
			        text += `<li data-index=${index} class="uploadFile"     
					data-file-name="${file.fileName}" data-file-upload-path="${file.fileUploadPath}" 
					data-file-uuid="${file.fileUuid}" data-file-size="${file.fileSize}" 
					data-file-is-image="${file.fileIsImage}" 
					>`;        
					
					text += `<img src="/images/cancel.png" class="file-cancel" width="25" style="position: absolute; right: 0; cursor: pointer;">`; 
					if (file.fileIsImage) {
						// URL 인코딩 추가
						const encodedFilePath = encodeURIComponent(`${file.fileUploadPath}/t_${file.fileUuid}_${file.fileName}`);
						text += `<img src="/files/display?filePathName=${encodedFilePath}">&nbsp;&nbsp;`;
					} else {
						text += `<img src="/images/attach.png" width="100">`;
					}
					text += `</li>`;
				})
				console.log(text);
				uploadResult.innerHTML = text;
//				registerButton.disabled = false;    // 동적 생성 완료후 button 클릭 해제
			}	
		});
		
	});
	
	const uls = document.querySelectorAll("ul");
	uls.forEach((ul)=> { 
		ul.addEventListener("click", function(e){
			if (e.target.matches(".file-cancel")){
				const li = e.target.closest("li");
				if (li){
					const index = parseInt(li.dataset.index, 10);  // 삭제할 li의 index 가져오기
					if (files.length == 1){                        // 마지막 한개가 삭제가 안되서 강제로 clear
					    files.splice(index,1);                     // 파일 목록에서 삭제하기
						files = [];                                
					} else {					        
					    files.splice(index,1);                     // 파일 목록에서 삭제하기
					}                
					li.remove();                                   // 화면에서 삭제하기 
					const dataTransfer = new DataTransfer();       // 최종 파일 목록을 파일리스트에 세트. 파일선택옆에 최종 파일 갯수를 나오게 하기 위해서
					files.forEach(file => dataTransfer.items.add(file)); // 삭제한 목록을 화면 "파일선택" 옆에 보여주기
					input.files = dataTransfer.files;
				}
			}
		});
	});
			
</script>

</html>